.card > img {
  object-fit: fill;
  width: 100%;
  padding: 10px;
  opacity: 0.85;
}
.card > img:hover {
  opacity: 1;
}
.card_data > h2,
.card_data > h4 {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
  font-weight: lighter;
}
.card_data > h2 {
  font-family: "Pushster", cursive;
}
.card_data > h4 {
  color: #5e5b5b;
  font-size: 14px;
  font-weight: 300;
  margin: 20px 0;
  width: 1018px;
  max-width: 427px;
  font-family: "Karma", serif;
}
.card__info > h2 {
  font-size: 18px;
  font-weight: 600;
}
.card {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: all 300ms ease-in;
}
.card:hover {
  transform: scale(1.05);
}
.price_heading {
  font-family: "Karma", serif !important;
}
