.home_section {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* responsive */

@media screen and (max-width: 1336px) {
  .home_section {
    flex-direction: column;
  }
}
