.search {
  position: absolute;
  z-index: 10;
  top: 45px;
  left: 30%;
  border: 1px solid hsla(0, 3%, 55%, 0.278);
  width: 558.5px;
  height: 65vh;
  border-radius: 10px;
  background-color: #fff;
}
.nop {
  background-color: #fff;
  position: absolute;
  left: 0;
  border-top: 1px solid #918a8a47;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 558.5px;
}

.nop_value > input,
.nop > h3 {
  margin: 0 10px;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}
.nop_value > input:focus {
  outline-width: 0;
}
.nop_value {
  display: flex;
  align-items: center;
}
.search_buttons {
  margin: 10px !important;
  position: absolute !important;
  left: 0 !important;
  top: 401px !important;
  background-color: #ff7779 !important;
  color: #fff !important;
  transition: all 0.35s ease-in !important;
  text-transform: capitalize !important;
  width: 540.5px;
}
.search_buttons:hover {
  background-color: #fff !important;
  color: #ff7779 !important;
}
