.searchResult {
  margin: 20px;
}

.resultCard {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.resultCard > img {
  width: 300px;
  height: 175px;
  object-fit: fill;
  border-radius: 10px;
  overflow: hidden;
  margin: 35px;
}

.location,
.rating_price,
.star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultCard_content {
  width: 50vw;
}
#title {
  margin: 10px 0;
  font-weight: lighter;
  font-size: 22px;
}
#desc,
.location > p {
  font-family: "Karma", serif;
  color: #6b6666;
  font-weight: 500;
  max-width: 505px;
  word-spacing: 3px;
  margin-top: 15px;
  margin-bottom: 11px;
}
.love_click,
.starIcon {
  color: red !important;
  display: block;
}
.star > p {
  font-weight: 800;
  display: block;
  letter-spacing: 1px;
  margin-left: 5px;
}
.price {
  text-align: right;
  line-height: 35px;
}
@media screen and (max-width: 700px) {
  .searchResult {
    width: 100%;
    padding: 30px;
    margin: 20px 0;
  }
  .resultCard_content {
    width: 94vw;
  }
  .resultCard > img {
    width: 99%;
    height: 232px;
    object-fit: fill;
    border-radius: 10px;
    overflow: hidden;
    margin: 35px;
    margin: 0 29px 0 0;
  }
  .price {
    font-size: 14px;
  }
}
